@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	text-align:left;
	color:#222;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:400;
	padding: 5em;
}
p {
	max-width: 700px;
	word-wrap: break-word; 
}
section {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding:4em 0;	
}
h1 {
	font-size: 1.5em;
	font-weight:700;
}
h2 {
	font-size: 1.25em;
	font-weight: 700;
}
ul {
	padding-left:1em;
}
header img {
	width: 10em;
}
header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	float: left;
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
}


