}
body {
	text-align: left;
	background: url('');
	background-size: cover;
	font-family: helvetica;
	color: #fff;
	margin-left: 5em;
	margin-right: 5em;
}
hr {
	width: 800px;
}
h1 {
	text-align: left;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
h2 {
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
p {
	text-align: left;
	color: #fff;
	font-family: 'Trirong', serif
	font-size:14px;
}
ul {
	text-align: left;
	color: #fff;
	font-size: 14px;
}
li {
	text-align: left;
	color: #fff;
	font-size: 14px;
}
