<link href="https://fonts.googleapis.com/css?family=Questrial|Shadows+Into+Light" rel="stylesheet">

body {
	text-align: center;
	font-family: helvetica;
	color: #000000;
	margin-left: 5em;
	margin-right: 5em;
}
hr {
	width: 800px;

}
h1 {
	text-align: center;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Questrial', sans-serif;
}
h2 {
	text-align: left;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Shadows Into Light', cursive;
}
p {
	text-align: left;
	color: #000000;
	font-size:14px;
}
ul {
	text-align: left;
	color: #000000;
	font-size: 14px;
}
li {
	text-align: left;
	color: #000000;
	font-size: 14px;
}
